@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 12px; /* or 14px if you want slightly larger */
}

/* COLOR PALLET */

:root {
  --primary-black: #24252a;
  --purple-lavender: #d7cffe;
  --vanilla: #fdecca;
  --azure-blue: #d3e7e8;
  --pure-white: #ffffff;
  --dark-gray: #3a3b3c;
  --soft-pink: #f8c8dc;
  --muted-green: #a8d5ba;
  --warm-orange: #ffb573;
  --deep-navy: #1e2a3a;
  --light-gray: #d1d5cd;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

/* GOOGLE FONT HERE */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap"); */
